.vscode
# /codingtest
/codingtest/.vscode

# /ReactCompleteGuideUdemy/
/ReactCompleteGuideUdemy/componentsStyling/node_modules
/ReactCompleteGuideUdemy/componentsStyling/.vscode
/ReactCompleteGuideUdemy/componentsStyling/.eslintcache

/ReactCompleteGuideUdemy/firstProject/node_modules
/ReactCompleteGuideUdemy/firstProject/.vscode

